.img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;
}

.img img {
  width: 50%;
  height: 100px;
  width: 100px;
  border-radius: 15px;
  /* opacity: 5%; */
}
