/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap"); */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:target {
  /* Aqui Define a margem que a anncoragem vai rolar */
  scroll-margin-top: 6.5em;
}

body {
  font-family: "Inter", sans-serif;
}
