.obsHeader {
  font-size: small;
}

.container {
  background-color: #fff;
}

.main {
  /* gap: 5px;
  display: grid;
  flex-direction: row;
  grid: auto; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin: 5px 24px 0px 24px;
  text-align: center;
  /* justify-content: center;
  align-items: center; */
}

.itemLogo {
  /* display: flex;
  flex-direction: row;
  gap: 10px;
  */
  border-radius: 25px;
}

.header {
  background-color: #f9f9fb;
  padding: 50px 24px 30px 24px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}

.imgLogo {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* margin-right: 15px; */
  /* width: auto; */
  /* flex: 1; */
  /* border: 1px solid #000; */

  margin-bottom: 25px;
}

.imgLogo img {
  max-width: 250px;
  width: 50%;
  height: auto;
  border-radius: 30px;
}

.headerTitle {
  font-weight: 500;
  font-size: 24px;
  /* color: #1b1b1b; */
  color: rgba(151, 151, 151, 0.8);
  margin-bottom: 8px;
}

.headerSubTitle {
  font-weight: 400;
  font-size: 16px;
  color: rgba(151, 151, 151, 0.8);
}

.menuButtom {
  width: 18px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuButtomLine {
  background-color: #1b1b1b;
  height: 2px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin: 0px 24px 0px 24px;
}

.grupo {
  display: flex;
  gap: 24px;
  margin: 0px 24px 0px 24px;
}

.categoryName {
  font-weight: 700;
  font-size: 14px;
  color: #1b1b1b;
  background-color: #1b1b1b;
  color: #f9f9fb;
  padding: 10px;
  border-radius: 5px;
}

.grid2 {
  gap: 24px;
  margin: 0px 24px 0px 24px;
}

.searchText {
  margin: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #979797;
}

.searchText strong {
  font-weight: 600;
}

.noProducts {
  /* display: "flex"; */
  /* justify-content: "center"; */
  /* align-items: "center"; */
  text-align: center;
  width: 235px;
  margin: 88px auto;
}

.noProductsText {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #8d8c8c;
  text-align: center;
  margin-top: 32px;
}

.clickReload {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #5e5d5d;
  text-decoration: underline;
  /* color: #cdcdcd; */
  cursor: pointer;
  text-align: center;
  margin-top: 32px;
}
